.Button {
	cursor: pointer;
}

.outline {
	color: var(--primary-color);
	border: 1px solid var(--primary-color);
	border-radius: 24px;
	padding: 12px 24px;
	outline: none;
	background: none;
}

.text {
	color: var(--text-color);
	padding: 0;
	border: none;
	background: none;
	outline: none;
}
