.dark {
	--bg-color: #1B1D22;
	--inverted-bg-color: #E4E2DD;
	--border-color: #31343B;
	--text-color: #E4E2DD;
	--inverted-text-color: #31343B;
	--text-button-contained-color: #E4E2DD;
	--primary-color: #6936F5;
	--secondary-color: #08C49A;
}
