.AppLink {
	transition: opacity var(--transition-shared);
	font: var(--font-m);
	color: var(--text-color);

	svg {
		height: var(--font-line-m);
		width: var(--font-line-m);
		fill: var(--text-color);
	}

	&:hover {
		opacity: 0.5;
	}
}

.content {
	display: flex;
	align-items: center;
}
