.AppLink {
	transition: opacity var(--transition-generally);
}

.text {
	color: var(--text-color);

	&:hover {
		opacity: .5;
	}
}

.primary {
	color: var(--primary-color)
}

.secondary {
	color: var(--secondary-color)
}
